<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenwen.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="com.zhenwen.domain.Task">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="asgn_id" jdbcType="INTEGER" property="asgnId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="repeat_rate" jdbcType="INTEGER" property="repeatRate" />
    <result column="updated_count" jdbcType="INTEGER" property="updatedCount" />
    <result column="is_return" jdbcType="BOOLEAN" property="isReturn" />
    <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <collection property="files" javaType="java.util.List" resultMap="com.zhenwen.mapper.FileMapper.BaseResultMap"/>
  </resultMap>
  <sql id="Base_Column_List">
    task_id, asgn_id, user_id, score, repeat_rate, updated_count, is_return, is_deleted,
    create_by, create_time, update_by, update_time, remark
  </sql>
  <sql id="findAll">
    select
      *
    from task t
           left join task_file tf on t.task_id = tf.task_id
           left join file f on tf.file_id = f.file_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="findAll"/>
    where t.task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <select id="selectByAsgnId" resultMap="BaseResultMap">
    <include refid="findAll"/>
    where t.asgn_id = #{asgnId}
  </select>
  <select id="selectByAsgnIdUserId" resultMap="BaseResultMap">
    <include refid="findAll"/>
    where t.asgn_id = #{asgnId} and t.user_id = #{userId}
  </select>
  <select id="selectTaskCountByAsgnId" resultType="java.lang.Integer">
    select count(*) from task where asgn_id = #{asgnId};
  </select>
  <select id="selectTaskHaveScoreCountByAsgnId" resultType="java.lang.Integer">
    select count(score) from task where asgn_id = #{asgnId};
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="task_id" keyProperty="taskId" parameterType="com.zhenwen.domain.Task" useGeneratedKeys="true">
    insert into task (asgn_id, user_id, score,
      repeat_rate, updated_count, is_return,
      is_deleted, create_by, create_time,
      update_by, update_time, remark
      )
    values (#{asgnId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{score,jdbcType=INTEGER},
      #{repeatRate,jdbcType=INTEGER}, #{updatedCount,jdbcType=INTEGER}, #{isReturn,jdbcType=BOOLEAN},
      #{isDeleted,jdbcType=BOOLEAN}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="task_id" keyProperty="taskId" parameterType="com.zhenwen.domain.Task" useGeneratedKeys="true">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="asgnId != null">
        asgn_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="repeatRate != null">
        repeat_rate,
      </if>
      <if test="updatedCount != null">
        updated_count,
      </if>
      <if test="isReturn != null">
        is_return,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="asgnId != null">
        #{asgnId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="repeatRate != null">
        #{repeatRate,jdbcType=INTEGER},
      </if>
      <if test="updatedCount != null">
        #{updatedCount,jdbcType=INTEGER},
      </if>
      <if test="isReturn != null">
        #{isReturn,jdbcType=BOOLEAN},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BOOLEAN},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhenwen.domain.Task">
    update task
    <set>
      <if test="asgnId != null">
        asgn_id = #{asgnId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="repeatRate != null">
        repeat_rate = #{repeatRate,jdbcType=INTEGER},
      </if>
      <if test="updatedCount != null">
        updated_count = #{updatedCount,jdbcType=INTEGER},
      </if>
      <if test="isReturn != null">
        is_return = #{isReturn,jdbcType=BOOLEAN},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BOOLEAN},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhenwen.domain.Task">
    update task
    set asgn_id = #{asgnId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      repeat_rate = #{repeatRate,jdbcType=INTEGER},
      updated_count = #{updatedCount,jdbcType=INTEGER},
      is_return = #{isReturn,jdbcType=BOOLEAN},
      is_deleted = #{isDeleted,jdbcType=BOOLEAN},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>
